.button {
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.standard {
  padding: 9px 16px;
  text-align: center;
  min-width: fit-content;
  font-weight: 600;
}

.with-icon {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 9px 12px;
  width: 100%;
}

.list {
  padding-left: 8px;
  gap: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.add {
  font-weight: 600;
  color: #767676;
}

.add:hover {
  color: #000000;
}

.add:hover path {
  stroke: #000000;
}

.green {
  color: #ffffff;
  background-color: #4dd599;
}

.green:hover {
  background-color: #34cc8a;
}

.green:active {
  background-color: #21c07b;
}

.ghost {
  background-color: inherit;
}

.grey {
  color: #9C9C9C;
  background-color: #F4F6F8;
}

.grey:hover {
  background-color: #dadada;
}

.white {
  background-color: #ffffff;
}