.wrapper {
	width: 100%;
	padding: 55px;
}

.empty {
	text-align: center;
	margin: auto 0;
	color: #c9d1d3;
}

.title {
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
	font-family: 'Montserrat', 'Lato', sans-serif;
}