.header {
	margin-bottom: 20px;
	display: flex;
	gap: 15px;
	align-items: center;
	width: 100%;
}

.title {
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
	font-family: 'Montserrat', 'Lato', sans-serif;
}

.icon {
	margin-top: 5px;
	cursor: pointer;
	transform: scale(0);
	transition: transform 0.1s ease;
}

.icon:hover {
	fill: #818181;
}

.header:hover .icon {
	transform: scale(1);
}

.divider {
	border-top: 1px solid #f2f2f2;
	margin-bottom: 20px;
}

.todo-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 20px;
}

.todo-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.todo {
	width: 385px;
	display: flex;
	gap: 15px;
	align-items: center;
}

.real-check {
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
}

.custom-check {
	min-width: 20px;
	width: 20px;
	height: 20px;
	border: 2px solid #e8e8e8;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom-check:hover {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
}

.check {
	opacity: 0;
}

.custom-check:hover .check {
	opacity: 1;
}

.real-check:checked + .custom-check {
	background-color: #4dd599;
	border-color: #4dd599;
}

.real-check:checked + .custom-check > .check {
	opacity: 1;
}

.real-check:checked + .custom-check > .check path {
	stroke: #ffffff;
}

.text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

.actions {
	margin-top: 5px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.action {
	cursor: pointer;
}

.add-todo-block {
	margin-bottom: 40px;
}

.add-todo {
	width: fit-content;
	padding-left: 3px;
	display: flex;
	gap: 20px;
	align-items: center;
	cursor: pointer;
	line-height: 20px;
	font-size: 16px;
	font-weight: 500;
	color: #b4b4b4;
}

.add-todo svg {
	width: 14px;
	height: 14px;
}

.add-todo:hover {
	color: #858585;
}

.add-todo:hover path {
	stroke: #757575;
}

.opened {
  opacity: 1;
  height: auto;
  overflow: visible;
	position: static;
	z-index: 0;
}

.closed {
	height: 0;
  opacity: 0;
  overflow: hidden;
	position: absolute;
	z-index: -1;
}