.form {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.input {
  padding: 10px 15px;
  border: 1px solid #efefef;
  border-radius: 4px;
  width: 100%;
	outline-color: #c1c1c1;
  font-size: 14px;
  color: #000000;
}

.input::placeholder {
	color: #c7c7c7;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.error {
  color: red;
}
